black, purple, green, orange, red, yellow, blue)

.black{
	color:black;
}
.green{
	color:purple;
}
.red{
	color:green ;
}
.orange{
	color:orange;
}
.red{
	color:red;
}
.yellow{
	color:yellow;
}
.blue{
	color:blue;
}